* {
    box-sizing: border-box;
    word-wrap: break-word;
    font-family: Inter;
    font-weight: 400;
}

html {
    width: 100%;
    height: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
    min-height: 100%;
    padding: 0px;
    margin: 0;
}

.main {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 100%;

}

.header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;

    width: 25%;
    height: 100%;
    padding: 12px 18px;

    background-color: #0e0e0fec;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 75%;
    height: 100%;
}

.row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;

    width: 100%;
    height: auto;
}

.badge {
    width: auto;
    height: auto;
    padding: 2px 6px;
    margin: 0;
    background-color: blue;
    color: #fff;
    border-radius: 3px;

    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: .7px;
}

#appTitle {
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;

    font-size: 20px;
    line-height: 24px;
}


.widget {
    display: flex;
    flex-direction: column !important;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 6px;
    flex-direction: row;

    width: 100%;
    height: auto;
}

.tools-container {
    display: grid;
    grid-template-columns: minmax(0, 50%) minmax(0, 50%);
    row-gap: 12px;
    column-gap: 8px;
    width: 100%;
    height: auto;
}

.tool {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;

    max-width: 100%;
    height: 50px;
    padding: 12px;


    border-style: none;
    border-radius: 16px;

    background-color: #2c2c2c;
    color: #ffffff60;
    font-size: 14px;
}

.active {
    border: 1px solid black;
}

.unlocked {
    background-color: #ffffff38;
    color: #ffffff;
}

.selected {
    background-color: #ffffff;
    color: #0e0e0f;
}

.network-status {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;

    width: 100%;
    height: auto;
    padding: 16px;

    border-radius: 12px;

    background-color: #2c2c2c;

    color: #ffffffcb;
    font-size: 14px;
}


#networkURL {
    width: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


.size-control {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 12px;
    
    width: 100%;
    height: auto;

    color: #ffffff;
}

#slider {
    -webkit-appearance: none;
    appearance: none;

    width: 100%;
    height: 4px;

    background-color: #2c2c2c;
    outline: none;

    border-radius: 100px;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;

    width: 4px;
    height: 20px;

    border-radius: 100px;

    background-color: #ffffffcb;
}

#sizeCount {
    width: fit-content;
    height: auto;
    padding: 2px 8px;

    border-radius: 100px;
    
    background-color: #ffffffcb;

    font-size: 14px;
    color: #000;

}

canvas {
    cursor: crosshair;
}

.material-icons.md-18 { font-size: 18px; }